.clear{
    background: transparent;
    border: none;
    color: white;
}

.solid{
    background: white;
    border: none;
    color: green;
}
    
.outline{
    background: transparent;
    color: white;
    border: 1px solid white;
}

.error{
    color: white;
    background: red;
    display: none;
}

button[disabled]
{
    opacity: 0.5;
}
button[enabled]
{
    opacity: 0.8;
}