body{
    background: green;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form{
    width: 300px;
}
input, button{
    padding: 10px;
    width: -webkit-fill-available;
}
input{
    border: none;
}

.form-field{
     margin-bottom: 10px;
}
button{
    cursor: pointer;
    margin-bottom: 10px;
}
button[disabled]
{
    opacity: 0.5;
}
button[enabled]
{
    opacity: 0.8;
}