body{
        background: green;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    form{
        width: 300px;
    }
    input, button{
        padding: 10px;
        margin-bottom: 10px;
        width: -webkit-fill-available;
    }
    input{
        border: none;
    }
    .clear{
        background: transparent;
        border: none;
        color: white;
    }
    button{
        cursor: pointer;
    }
    button[disabled]
    {
        opacity: 0.5;
    }
    button[enabled]
    {
        opacity: 0.8;
    }
    .solid{
        background: white;
        border: none;
        color: green;
    }
    .outline{
        background: transparent;
        color: white;
        border: 1px solid white;
    }